* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* all pages */

body {
  background-color: white;
}

h1 {
  font-size: 48px;
  padding: 50px;
  margin-top: 40px;
  margin-right: auto;
  color: rgb(255, 142, 142);
   font-family: 'Poppins', sans-serif;

}

nav a {
  text-decoration: none;
  padding: 10px 50px 10px 50px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #002aff;
  background-color: white;
   

}

nav a:hover {
  color: rgb(255, 142, 142);

}
.navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}



/* main */

.accent {
color:rgb(250, 107, 41);
padding: 20px;
}

.mainContent {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;

width: 60%;
  font-size: 15px;
line-height: 20px;
  
}

.headshot img {
  position: relative;
  max-width: 350px;
  left: 200px;
  top: 200px;
}

.header {
  position: relative;
  margin-left: 70px;
  top: 50px;
}

/* about */
.bio {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 25px ;
}

/* contact */

.contactLinks {
  text-align: left;
  list-style-type: none;
  width: 50%;
  margin-left: 40%;
  position: relative;
  top: -85px;
}
.contactLinks a {
  text-decoration: none;
  border-bottom: solid 1px #002aff;
  color: black;
  font-size: 22px;
font-family: 'IBM Plex Mono', monospace;
   color: #002aff ;

}
.contactLinks li {
  padding: 5px;
}
.contactLinks a:hover {
  color: rgb(255, 142, 142);

}
/* portfolio */

.quizBio h2 {
  font-size: 20px;
  line-height: 30px;
  color:rgb(250, 107, 41)
  
}

.quizProject {
  display: flex;
  padding: 60px;
}
.quizPic {
  max-width: 300px;
  border: solid 1px gray;
}

.quizPic:hover {
  border: solid 1px #rgb(255, 142, 142);

}

.quizBio {
  padding: 20px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  
}

.quizBio p {
  /* color: #b93248; */
  font-size: 15px;
}
.quizLinks a {
  padding: 15px;
  font-size: 15px;
  color: #002aff;
font-family: 'IBM Plex Mono', monospace;

  
}

.quizLinks a:hover {
  color: rgb(255, 142, 142);

}

@media screen and (max-width: 650px) {
  .navigation {
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
  }

  nav a {
    padding: 18px;
    font-size: 19px;
  }

  h1 {
    font-size: 35px;
  }
  /* main */

  .header {
    top: 90px;
    left: -80px;
    
  }

 

  .headshot img {
    position: relative;
    left: 90px;
    top: 230px;
    width: 90%;
    max-width: 250px;
  }

  .headline {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 45px;
    font-size: 15px;
  }

  /* about */
  .bio {
    padding: 20px;
    font-size: 18px;
  }
  /* portfolio */
  .quizProject {
    flex-direction: column;
    align-items: center;
  }
  .quizPic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* contact */
  .contactLinks {
    text-align: left;
    list-style-type: none;
    width: 50%;
    margin-left: 40%;
    position: relative;
    top: -20px;
  }
