* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* all pages */

h1 {
  font-size: 50px;
  padding: 50px;
  margin-top: 40px;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  padding: 10px 50px 10px 50px;

  font-size: 22px;
}
.navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

/* main */

.mainContent {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 30px;
  font-size: 15px;
}

.headshot img {
  position: relative;

  left: 200px;
  top: 285px;
}

.header {
  position: relative;
  margin-left: 70px;
  top: 80px;
}

/* about */
.bio {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 50px;
  font-size: 20px;
}

/* contact */

.contactLinks {
  text-align: left;
  list-style-type: none;
  width: 50%;
  margin-left: 40%;
  position: relative;
  top: -85px;
}
.contactLinks a {
  text-decoration: none;

  color: black;
  font-size: 22px;
}
.contactLinks li {
  padding: 5px;
}

/* portfolio */

.quizProject {
  display: flex;
  padding: 60px;
}
.quizPic {
  max-width: 300px;
  border: solid 1px gray;
}

.quizBio {
  padding: 20px;
  margin-top: 30px;
}

.quizLinks a {
  padding: 15px;
}

@media screen and (max-width: 650px) {
  .navigation {
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
  }

  nav a {
    padding: 18px;
    font-size: 19px;
  }

  h1 {
    font-size: 35px;
  }
  /* main */

  .header {
    top: 50px;
    left: -80px;
  }

  .headshot img {
    position: relative;
    left: 90px;
    top: 230px;
    width: 50%;
    max-width: 250px;
  }

  .headline {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    font-size: 15px;
  }

  /* about */
  .bio {
    padding: 20px;
    font-size: 18px;
  }
  /* portfolio */
  .quizProject {
    flex-direction: column;
    align-items: center;
  }
  .quizPic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* contact */
  .contactLinks {
    text-align: left;
    list-style-type: none;
    width: 50%;
    margin-left: 40%;
    position: relative;
    top: -20px;
  }
}
